<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Formula</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <a href="/magic-formula">Magic Formula</a>
        <a href="/open-ipo">Open IPO</a>
        
    </nav>
    <div class="table-container">
        <table class="mytable">
            <tr>
                <th>symbol</th>
                <th>P/E Ratio</th>
                <th>ROA</th>
                <th>Rank</th>
            </tr>
            {% for symbol, value in data.items() %}
                <tr>
                    <td>{{symbol.upper()}}</td>
                    <td>{{value["P/E Ratio"]}}</td>
                    <td>{{value["ROA"]}}</td>
                    <td>{{value["Magic Formula Rank"]}}</td>
                </tr>
            {% endfor %}
        </table>
    
        <table class="mytable">
            <tr>
                <th>symbol</th>
                <th>Company Name</th>
                <th>Sector</th>
                <th>Market Price</th>
                <th>EPS</th>
                <th>P/E</th>
                <th>ROA</th>
                <th>Book Value</th>
                <th>PBV</th>
            </tr>
            {% for symbol, value in data.items() %}
            <tr>
                <td>{{symbol}}</td>
                <td>{{value["companyName"]}}</td>
                <td>{{value["sector"]}}</td>
                <td>{{value["marketPrice"]}}</td>
                <td>{{value["EPS"]}}</td>
                <td>{{value["P/E Ratio"]}}</td>
                <td>{{value["ROA"]}}</td>
                <td>{{value["bookValue"]}}</td>
                <td>{{value["PBV"]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>