<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Formula</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</head>
<body>
    <nav>
        <a href="/magicformula">Magic Formula</a>
        <a href="/openipo">Open IPO</a>
        
    </nav>
    <form action="/magicformula" method="post">
        <table border="1">
            <tr>
                <th>Company</th>
                <th>Net Income</th>
                <th>Total Asset</th>
            </tr>
            <tr>
                <td>
                    <select name="symbol" onchange="updateName(this)">
                        <option selected>select</option>
                        {%for symbol in stock %}
                        <option value="{{symbol}}">{{symbol}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input name="" type="text">
                </td>
                <td>
                    <input name="" type="text">
                </td>
            </tr>
        </table>
        <button onclick="addCompany()" type="button">Add</button>
        <button>submit</button>
    </form>
    
</body>
</html>
