<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open IPO</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <a href="/magic-formula">Magic Formula</a>
        <a href="/open-ipo">Open IPO</a>
        
    </nav>
    {% if ipo %}

    <div class="table-container">
        <center><h2>Open IPO</h2></center>
        <table class="mytable">
            <tr>
                <th>symbol</th>
                <th>Company Name</th>
                <th>Open Date</th>
                <th>Close Date</th>
                <th>Detail</th>
            </tr>
            {% for value in ipo %}
                <tr>
                    <td>{{value["company"].upper()}}</td>
                    <td>{{value["title"]}}</td>
                    <td>{{value["open_date"]}}</td>
                    <td>{{value["close_date"]}}</td>
                    <td>{{value["detail"]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
     <h3>None</h3>
    {% endif %}

    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>