<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open IPO</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</head>
<body>
    <nav>
        <a href="/magicformula">Magic Formula</a>
        <a href="/openipo">Open IPO</a>
        
    </nav>
    <h2>Open IPO</h2>
    {% if ipo %}
    <ol>
        {% for symbol in ipo %}
        <li><b>{{symbol}}</b></li>
        {% endfor %}
    </ol>
    {% else %}
     <h3>None</h3>
    {% endif %}
    
</body>
</html>